body {
    margin: 0;
    font-family: 'Cormorant Infant', serif;  
    font-size: 18px;
    background-color: rgb(218, 214, 182);
    box-sizing: border-box;
    text-align: center;
}

.title {
    font-size: 34px;
    text-align: center;
    padding-top: 24px;
    font-weight: 700;
}

.app {
    display: flex;
    padding: 30px;
    margin: auto;
    justify-content: center;
    align-content: center;
    color: rgb(70, 62, 50);
}

.game {
    width: 560px;
    height: 560px;
    border: 3px solid rgb(75, 56, 6);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.game img {
    width: 70px;
    height: 70px;
}